<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Register - Transaction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/master.css">
    <link rel="stylesheet" type="text/css" href="/styles/transaction.css">

    <script type="text/javascript" src="/scripts/master.js" defer></script>
    <script type="text/javascript" src="/scripts/transaction.js" defer></script>
</head>

<body>
    <div class="header">
        <h1 class="primary-message">New Transaction</h1>
    </div>

    <div id="main" class="main">
        <div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
            <h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
        </div>
        <div id='searchArea'>

			<h4>Product Lookup Code</h4>
			<form method="GET" onsubmit="return validateForm();" name="Search" class="inputContent">               
                <input id="lookupCode" type="text" name="lookupCode" placeholder="Lookup Code" th:value="${lookupCode}" >
                <input id ="searchBtn" type="submit" value="Search" >           
				<div style="color:red" id="msg"></div>				
			</form><br>

            <div class="transactionWrapper" id="transactionWrapper">
                <ul id="createProductList" class="lookupCode">
                    
                </ul>
            </div>
            <br>
            <button id="add" class='btn' style="visibility: visible">Add</button><br><br>

        </div>

        <div id="addedProducts">
            <table id='product' type="table" style="width:60%;background-color: rgb(200, 200, 200);">
                <tr style="height: 30px;">
                    <td><input id='quantity0' type='text' name=quantity0 size='2'></td>
                    <td style='text-align:center'>
                        <div>Product1</div>
                    </td>
                    <td style='text-align:center'>
                        <div>Price1</div>
                    </td>
                    <td style='text-align:right'><button>remove</button></td>
                </tr>
                <tr style="height: 30px;">
                    <td><input id='quantity1' type='text' size='2'></td>
                    <td style='text-align:center'>
                        <div>Product2</div>
                    </td>
                    <td style='text-align:center'>
                        <div>Price2</div>
                    </td>
                    <td style='text-align:right'><button id='searchBtn'>remove</button></td>
                </tr>
                <tr style="height: 30px;">
                    <td><input id='quantity2' type='text' size='2'></td>
                    <td style='text-align:center'>
                        <div>Product3</div>
                    </td>
                    <td style='text-align:center'>
                        <div>Price3</div>
                    </td>
                    <td style='text-align:right;'><button>remove</button></td>
                </tr>
            </table><br><br>
            <!-- <button id='searchBtn' class='btn'>Submit</button> -->
            <a class="button">submit</a>
            <!-- <button id='searchBtn' class='btn'>Cancel Transaction</button> -->
            <a href="/mainMenu/" class="button">Cancel Transaction</a>

        </div>
    </div>

    <div class="footer">
        <img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
    </div>

</body>

</html>