<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Register - Transaction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/master.css">
    <link rel="stylesheet" type="text/css" href="/styles/transaction.css">

    <script type="text/javascript" src="/scripts/master.js" defer></script>
    <script type="text/javascript" src="/scripts/transaction.js" defer></script>
</head>

<body>
    <div class="header">
        <h1 class="primary-message">New Transaction</h1>
    </div>

    <div id="main" class="main">

        <div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
            <h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
        </div>

        <div id='searchArea'>
			<h4>Product Lookup Code</h4>
			<form method="GET" onsubmit="return validateForm();" name="Search" class="inputContent">               
                <input id="lookupCode" type="text" name="lookupCode" placeholder="Lookup Code" th:value="${lookupCode}" >
                <input id ="searchBtn" type="submit" value="Search" >           
				<div style="color:red" id="msg"></div>				
			</form><br>
           
            <div class="searchResultWrapper" id="searchResultWrapper" >
                <ul id="createProductList" class="lookUpCode" style="list-style-type:none;">
                </ul>
            </div>
            
        </div>

        <div id="cartObject" class="searchResultWrapper">
            <h4>Shopping Cart</h4>
            <ul id="cart" class="lookUpCode">
            </ul>
            <br>
            <a class="button">Ring Up</a>
            <a href="/mainMenu/" class="button">Cancel Transaction</a>
        </div>
        <div class="summary">
            <h4>Shopping Cart Summary</h4>
            <ul id="transactionListing" class="transaction">
				<li th:each="product : ${products}">
					<input type="hidden" name="transactionId" th:value="${transaction.id}" />
                    <span class="transactionProductNameDisplay" th:text="${transaction.productName}">lookupCode</span>
                    &emsp;&emsp;&emsp;<span class="productPricePricetDisplay" th:text="${transaction.productPrice}">0.00</span>
					&emsp;&emsp;&emsp;<span class="productQuantityDisplay" th:text="${transaction.productQuantity}">0</span>
                    <p>Total &emsp;&nbsp;<span class="transactionTotalPrice" th:text="${transaction.totalPrice}">0.00</span>
                    &emsp;&emsp;&emsp;&emsp;<span class="transactionTotalCountDisplay" th:text="${transaction.totalCount}">0</span></p>
				</li>
			</ul>
        </div>
    </div>

    <div class="footer">
        <img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
    </div>

</body>

</html>